{% extends 'formplantilla/index_master.html' %}

{% block content %}

<div class="wrapper">
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Crear Tipo Vehiculo</h3>
              </div>
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  
                  <!-- Tipo de Mantenimiento -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-car"></i></span>
                      </div>
                      <input 
                        type="text" 
                        class="form-control has-feedback-left" 
                        name="tipo"
                        id="tipo" 
                        placeholder="Tipo de Mantenimiento" 
                        required=""
                      />
                    </div>
                  </div>

                  <!-- Descripción -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-file"></i></span>
                      </div>
                       <textarea 
                        type="text" 
                        class="form-control has-feedback-left" 
                        name="descripcion"
                        id="descripcion" 
                        placeholder="Describe al tipo de vehiculo" 
                        required=""
                      ></textarea>
                    </div>
                  </div>

                  <!-- Porcentaje de IVA -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">IVA (%)</span>
                      </div>
                      <input 
                        type="number" 
                        class="form-control has-feedback-left" 
                        name="iva_porcentaje"
                        id="iva_porcentaje" 
                        placeholder="Porcentaje de IVA" 
                        min='0'
                        step="0.01"
                        required=""
                        oninput="calcularTotal()"
                      />
                    </div>
                  </div>
                  <input 
                    type="hidden" 
                    name="iva_calculado" 
                    id="iva_calculado" 
                  />
                  <!-- Subtotal -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Subtotal</span>
                      </div>
                      <input 
                        type="number" 
                        class="form-control has-feedback-left" 
                        name="subtotal"
                        id="subtotal" 
                        placeholder="Subtotal" 
                        min='0'
                        step="0.01"
                        required=""
                        oninput="calcularTotal()"
                      />
                    </div>
                  </div>

                  <!-- Total -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Total</span>
                      </div>
                      <input 
                        type="text" 
                        class="form-control has-feedback-left" 
                        name="total"
                        id="total" 
                        placeholder="Total" 
                        min='0'
                        step="0.01"
                        required=""
                        readonly
                      />
                    </div>
                  </div>
                    
                  <!-- Botones de acción -->
                  <div class="form-group">
                    <div class="input-group">
                      <button type="submit" class="btn btn-success">Crear Tipo</button>
                      <a href="{% url 'formulariotipomantenimiento' %}" class="btn btn-secondary">Cancelar</a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (right) -->
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script>
    function calcularTotal() {
      var ivaPorcentaje = parseFloat(document.getElementById('iva_porcentaje').value);
      var subtotal = parseFloat(document.getElementById('subtotal').value);
      
      // Calcular el IVA
      var ivaCalculado = subtotal * (ivaPorcentaje / 100);
      // Calcular el total sumando el subtotal y el IVA
      var total = subtotal + (subtotal * ivaPorcentaje / 100);
  
      // Actualizar el campo total en el formulario
      document.getElementById('total').value = total.toFixed(2);
      document.getElementById('iva_calculado').value = ivaCalculado.toFixed(2);
    }
  </script>
  
  

{% endblock %}
