{% extends 'formplantilla/index_master.html' %}

{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Lista de salidas a mantenimiento</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Documento de Entrada</th>
                        <th>Mantenimiento Dado</th>
                        
                    </tr>
                  </thead>
                  <tbody>
                    {%for entrada in entradas%}
                    <tr>
                        <td>{{entrada.id}}</td>

                        <td style="text-align: center;">
                          {% if entrada.docentrada %}
                              {% if "pdf" in entrada.docentrada.url %}
                                  <a href="{{ entrada.docentrada.url }}" target="_blank"><i class="fas fa-file-pdf" style="font-size: 2em; display: block; margin: 0 auto;"></i>
                                  </a>
                              {% else %}
                                  El documento no es un archivo PDF
                              {% endif %}
                          {% else %}
                              Sin Documento
                          {% endif %}
                      </td>
                        <td>{{entrada.mantenimiento}}</td>
                        
                        
                    </tr>
                    {%endfor%}

                </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
 
<!-- Agrega estas líneas en la sección head de tu plantilla HTML -->
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>

{% endblock %}
