{% extends 'formplantilla/index_master.html' %} 
{% block content %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Registro de Dependencias</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <a class="btn btn-app bg-info" href="{% url 'creardependencia' %}">
                  <span class="badge bg-danger">Dependencia</span>
                  <i class="fas fa-edit"></i> Crear 
                </a>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>provincia</th>
                        <th>Numero de Distrito</th>
                        <th>Parroquia</th>
                        <th>Cod Distrito</th>
                        <th>Nombre de Distrito</th>
                        <th>Numero Circuito</th>
                        <th>Codigo Circuito</th>
                        <th>Nombre Circuito</th>
                        <th>Numero Subcircuito</th>
                        <th>Codigo subcircuito</th>
                        <th>Nombre Subcircuito</th>
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dependencia in dependencias %}
                    <tr>
                      <td>{{ dependencia.provincia }}</td>
                      <td>{{ dependencia.id_distrito.numero_distrito }}</td>
                      <td>{{ dependencia.parroquia }}</td>
                      <td>{{ dependencia.id_distrito.cod_distrito }}</td>
                      <td>{{ dependencia.id_distrito.nombre_distrito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.numero_circuito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.cod_circuito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.nombre_circuito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.id_subcircuito.numero_subcircuito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.id_subcircuito.cod_subcircuito }}</td>
                      <td>{{ dependencia.id_distrito.id_circuito.id_subcircuito.nombre_subcircuito }}</td>

                        <td>
                          <a name="" id="" class="btn btn-warning"
                          href="{% url 'editardependencia' dependencia.id %}" title="Editar"
                          role="button"><i class="fa fa-edit"></i></a>
                            <a name="" id="" class="btn btn-danger"
                                title="Eliminar"
                                role="button"
                                onclick="confirmarEliminacion('{{ dependencia.id }}')">
                                <i class="fa fa-trash"></i>
                            </a>
                            <script>
                              function confirmarEliminacion(id) {
                                  var confirmacion = confirm('¿Está seguro de que desea eliminar este rango?');
                                  
                                  if (confirmacion) {
                                      // Redirecciona a la vista de eliminación si el usuario elige 'Aceptar'
                                      window.location.href = "{% url 'eliminardependencia' id=dependencia.id %}";
                                  } else {
                                      // Si el usuario elige 'Cancelar', no hagas nada
                                      // Puedes agregar un mensaje o realizar otras acciones según sea necesario
                                  }
                              }
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <style>
    /* Estilos para el botón azul (aprobado) */
    .boton-azul {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }

    /* Estilos para el botón rojo (reprobado) */
    .boton-rojo {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }
  </style>

{% endblock %}
