{% extends 'formplantilla/index_master.html' %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Listado de Roles</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <a class="btn btn-app bg-info" href="{%url 'crearroles'%}">
                  <span class="badge bg-danger">Rol</span>
                  <i class="fas fa-edit"></i> Crear 
                  </a>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Rol</th>
                        
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for grupo in grupos%}
                    <tr>
                        <td>{{grupo.id}}</td>
                        <td>{{grupo.name}}</td>
                        
                        <td>
                            <a name="" id="" class="btn btn-warning"
                                href="{%url 'editarroles' grupo.id %}" title="Editar"
                                role="button"><i class="fa fa-edit"></i></a>
                            <a name="" id="" class="btn btn-danger"
                                href="{%url 'eliminarroles'  grupo.id %}" title="Eliminar"
                                role="button"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <style>
    /* Estilos para el botón azul (aprobado) */
    .boton-azul {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }

    /* Estilos para el botón rojo (reprobado) */
    .boton-rojo {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }
</style>

{% endblock %}