{% extends 'formplantilla/index_master.html' %}
{% block content %}

<div class="wrapper">
  
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">

            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Editar Orden de Trabajo</h3>
              </div>
              <div class="card-body">
                <form action="" method="POST">
                  {% csrf_token %}
                    
                    <!-- Fecha -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                            </div>
                            <input 
                                type="date" 
                                class="form-control datepicker" 
                                name="fecha"
                                id="fecha" 
                                value="{{ my_orden_trabajo.fecha|date:'Y-m-d' }}"  <!-- Asegúrate de formatear la fecha según tus necesidades -->
                                required="" />
                        </div>
                    </div>

                    <!-- Vehículo -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-car"></i></span>
                            </div>
                            <select 
                                name="vehiculo" 
                                id="vehiculo" 
                                class="form-control" 
                                required="">
                                <option >Vehículo</option>
                                {% for vehiculo in vehiculos %}
                                    <option value="{{ vehiculo.placa }}" {% if vehiculo.placa == my_orden_trabajo.vehiculo.placa %} selected {% endif %}>{{ vehiculo.placa }}<br> </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Responsable -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <select 
                                name="responsable" 
                                id="responsable" 
                                class="form-control" 
                                required="">
                                <option >Responsable</option>
                                {% for persona in personas %}
                                    <option value="{{ persona.identificacion }}" {% if persona.identificacion == my_orden_trabajo.responsable.identificacion %} selected {% endif %}>{{ persona.nombres }} {{ persona.apellidos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Agente1 -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <select 
                                name="agente1" 
                                id="agente1" 
                                class="form-control" 
                                required="">
                                <option >Agente 1</option>
                                {% for persona in personas %}
                                <option value="{{ persona.identificacion }}" {% if persona.identificacion == my_orden_trabajo.agente1.identificacion %} selected {% endif %}>{{ persona.nombres }} {{ persona.apellidos }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Agente2 -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <select 
                                name="agente2" 
                                id="agente2" 
                                class="form-control" 
                                required="">
                                <option >Agente 2</option>
                                {% for persona in personas %}
                                <option value="{{ persona.identificacion }}" {% if persona.identificacion == my_orden_trabajo.agente2.identificacion %} selected {% endif %}>{{ persona.nombres }} {{ persona.apellidos }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Agente3 -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <select 
                                name="agente3" 
                                id="agente3" 
                                class="form-control" 
                                required="">
                                <option >Agente 3</option>
                                {% for persona in personas %}
                                <option value="{{ persona.identificacion }}" {% if persona.identificacion == my_orden_trabajo.agente3.identificacion %} selected {% endif %}>{{ persona.nombres }} {{ persona.apellidos }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Ruta -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-route"></i></span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="ruta"
                                id="ruta" 
                                placeholder="Ruta" 
                                value="{{ my_orden_trabajo.ruta }}" 
                                required="" />
                        </div>
                    </div>

                    <!-- Dependencia -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-building"></i></span>
                            </div>
                            <select 
                                name="dependencia" 
                                id="dependencia" 
                                class="form-control" 
                                required="">
                                <option >Dependencia</option>
                                {% for dependencia in dependencias %}
                                <option value="{{ dependencia.id }}" {% if dependencia.id == my_orden_trabajo.dependencia.id %} selected {% endif %}>{{ dependencia.parroquia }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- Km -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-tachometer-alt"></i></span>
                            </div>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="km"
                                id="km" 
                                placeholder="Km" 
                                value="{{ my_orden_trabajo.km }}" 
                                required="" />
                        </div>
                    </div>

                    <!-- Observaciones -->
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-file-alt"></i></span>
                            </div>
                            <textarea 
                                class="form-control" 
                                name="observaciones" 
                                id="observaciones" 
                                placeholder="Observaciones" 
                                rows="3">{{ my_orden_trabajo.observaciones }}</textarea>
                        </div>
                    </div>

                    

                    <div class="form-group">
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">Actualizar Orden de Trabajo</button>
                            <a href="{% url 'formularioordendetrabajo' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </div>
                </form>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col (right) -->
        </div>
       
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock %}
