{% extends 'formplantilla/index_master.html' %} {% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ordenes de Trabajo</h1>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <a class="btn btn-app bg-info" href="{%url 'crearordentrabajo'%}">
                  <span class="badge bg-danger">Orden Trabajo</span>
                  <i class="fas fa-edit"></i> Crear 
                  </a>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th>Identificador</th>
                        <th>Fecha</th>
                        <th>Vehículo</th>
                        <th>Responsable</th>
                        <th>Agente1</th>
                        <th>Agente2</th>
                        <th>Agente3</th>
                        <th>Ruta</th>
                        <th>Dependencia</th>
                        <th>Km</th>
                        <th>Observaciones</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for orden in ordenesdetrabajos%}
                    <tr>
                        <td>{{orden.id}}</td>
                        <td>{{orden.fecha}}</td>
                        <td>{{orden.vehiculo}}</td>
                        <td>{{orden.responsable}}</td>
                        <td>{{orden.agente1}}</td>
                        <td>{{orden.agente2}}</td>
                        <td>{{orden.agente3}}</td>
                        <td>{{orden.ruta}}</td>
                        <td>{{orden.dependencia.parroquia}}</td>
                        <td>{{orden.km}}</td>
                        <td>{{orden.observaciones}}</td>
                        <td>
                            {% if orden.estado %}
                              <button class="estado-btn activo">Activo</button>
                            {% elif orden.estado is null or orden.estado == "" %}
                              <button class="estado-btn mantenimiento">Jornada</button>
                            {% else %}
                              <button class="estado-btn inactivo">Estropeado</button>
                            {% endif %}
                          </td>
                        <td>
                            <a name="" id="" class="btn btn-warning"
                                href="{%url 'editarordentrabajo' orden.id %}" title="Editar"
                                role="button"><i class="fa fa-edit"></i>
                            </a>
                            
                            <a name="" id="" class="btn btn-danger"
                                title="Eliminar"
                                role="button"
                                onclick="confirmarEliminacion({{ orden.id }})">
                                <i class="fa fa-trash"></i>
                            </a>
                            <script>
                              function confirmarEliminacion(id) {
                                  var confirmacion = confirm('¿Está seguro de que desea eliminar este orden?');
                                  
                                  if (confirmacion) {
                                      // Redirecciona a la vista de eliminación si el usuario elige 'Aceptar'
                                      window.location.href = "{% url 'eliminarordentrabajo' id=orden.id %}";
                                  } else {
                                      // Si el usuario elige 'Cancelar', no hagas nada
                                      // Puedes agregar un mensaje o realizar otras acciones según sea necesario
                                  }
                              }
                            </script> 
                            <a name="" id="" class="btn bg-gradient-secondary"
                                href="{%url 'ordendesalida' orden.id  %}" title="Salida por Orden de Trabajo"
                                role="button"><i class="fa fa-sign-out-alt"></i>
                            </a>
                            <a name="" id="" class="btn bg-gradient-primary"
                                href="{%url 'ordendeentrada' orden.id %}" title="Entrada por Orden de Trabajo"
                                role="button"><i class="fa fa-sign-in-alt"></i>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}

                </tbody>
                  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <style>
    /* Estilos para el botón azul (aprobado) */
    .boton-azul {
        background-color: green;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }

    /* Estilos para el botón rojo (reprobado) */
    .boton-rojo {
        background-color: red;
        color: white;
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        border-radius: 50%; /* Hace que el botón sea redondo */
    }
    .estado-btn {
      border: none;
      border-radius: 10px; /* Ajusta el radio para hacer esquinas redondeadas */
      padding: 10px 20px;
      cursor: pointer;
      display: inline-block; /* Hace que el botón sea rectangular */
    }
    
    .activo {
      background-color: green;
      color: white;
    }
    
    .mantenimiento {
      background-color: red;
      color: white;
    }
    
    .inactivo {
      background-color: yellow;
      color: black;
    }
    
</style>

{% endblock %}